:root {

  
  --font-family: "Roboto", sans-serif;
  --second-family: "Jaldi", sans-serif;
  --third-family: "SF Pro Text", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "DM Sans", sans-serif;
  --font5: "Satoshi Variable", sans-serif;


	--color-l-primary-color-primary: #6852d6;
	--color-l-extended-primary-color-ep50: #f9f8fd;
	--color-l-neutral-color-n50: #fff;
	--color-l-alert-color-info: #0b7bea;
	--color-l-extended-primary-color-ep100: #edeafa;
	--color-l-extended-primary-color-ep200: #dcd7f6;
	--color-l-extended-primary-color-ep300: #ccc4f1;
	--color-l-extended-primary-color-ep400: #bbb1ed;
	--color-l-extended-primary-color-ep500: #aa9ee8;
	--color-l-extended-primary-color-ep600: #9a8be4;
	--color-l-extended-primary-color-ep700: #8978df;
	--color-l-extended-primary-color-ep800: #7965db;
	--color-l-extended-primary-color-ep900: #5d49be;
	--color-l-neutral-color-n100: #fafafa;
	--color-l-neutral-color-n200: #f5f5f5;
	--color-l-neutral-color-n300: #e8e8e8;
	--color-l-neutral-color-n400: #dcdcdc;
	--color-l-neutral-color-n500: #a1a1a1;
	--color-l-neutral-color-n600: #727272;
	--color-l-neutral-color-n700: #5b5b5b;
	--color-l-neutral-color-n800: #434343;
	--color-l-neutral-color-n900: #141414;
	--color-l-alert-color-warning: #ffab00;
	--color-l-alert-color-success: #09c26f;
	--color-l-alert-color-error: #f44649;
	--color-primary-color-primary: var(--color-l-primary-color-primary);
	--color-extended-primary-color-extended-primary-50: var(--color-l-extended-primary-color-ep50);
	--color-neutral-color-neutral-50: var(--color-l-neutral-color-n50);
	--color-alert-color-info: var(--color-l-alert-color-info);
	--color-background-color-background1: var(--color-l-neutral-color-n50);
	--color-border-color-border-light: var(--color-l-neutral-color-n200);
	--color-text-color-text-primary: var(--color-l-neutral-color-n900);
	--color-icon-color-icon-primary: var(--color-l-neutral-color-n900);
	--color-chat-bubble-color-send-bubble-bg---sp: var(--color-l-primary-color-primary);
	--color-button-color-primary-button-bg---sp: var(--color-l-primary-color-primary);
	--color-extended-primary-color-extended-primary-100: var(--color-l-extended-primary-color-ep100);
	--color-extended-primary-color-extended-primary-200: var(--color-l-extended-primary-color-ep200);
	--color-extended-primary-color-extended-primary-300: var(--color-l-extended-primary-color-ep300);
	--color-extended-primary-color-extended-primary-400: var(--color-l-extended-primary-color-ep400);
	--color-extended-primary-color-extended-primary-500: var(--color-l-extended-primary-color-ep500);
	--color-extended-primary-color-extended-primary-600: var(--color-l-extended-primary-color-ep600);
	--color-extended-primary-color-extended-primary-700: var(--color-l-extended-primary-color-ep700);
	--color-extended-primary-color-extended-primary-800: var(--color-l-extended-primary-color-ep800);
	--color-extended-primary-color-extended-primary-900: var(--color-l-extended-primary-color-ep900);
	--color-neutral-color-neutral-100: var(--color-l-neutral-color-n100);
	--color-neutral-color-neutral-200: var(--color-l-neutral-color-n200);
	--color-neutral-color-neutral-300: var(--color-l-neutral-color-n300);
	--color-neutral-color-neutral-400: var(--color-l-neutral-color-n400);
	--color-neutral-color-neutral-500: var(--color-l-neutral-color-n500);
	--color-neutral-color-neutral-600: var(--color-l-neutral-color-n600);
	--color-neutral-color-neutral-700: var(--color-l-neutral-color-n700);
	--color-neutral-color-neutral-800: var(--color-l-neutral-color-n800);
	--color-neutral-color-neutral-900: var(--color-l-neutral-color-n900);
	--color-alert-color-warning: var(--color-l-alert-color-warning);
	--color-alert-color-success: var(--color-l-alert-color-success);
	--color-alert-color-error: var(--color-l-alert-color-error);
	--color-background-color-background2: var(--color-l-neutral-color-n100);
	--color-background-color-background3: var(--color-l-neutral-color-n200);
	--color-background-color-background4: var(--color-l-neutral-color-n300);
	--color-border-color-border-default: var(--color-l-neutral-color-n300);
	--color-border-color-border-dark: var(--color-l-neutral-color-n400);
	--color-border-color-border-highlight: var(--color-l-primary-color-primary);
	--color-text-color-text-secondary: var(--color-l-neutral-color-n600);
	--color-text-color-text-tertiary: var(--color-l-neutral-color-n500);
	--color-text-color-text-disabled: var(--color-l-neutral-color-n400);
	--color-text-color-text-white: var(--color-l-neutral-color-n50);
	--color-text-color-text-highlight: var(--color-l-primary-color-primary);
	--color-icon-color-icon-secondary: var(--color-l-neutral-color-n500);
	--color-icon-color-icon-tertiary: var(--color-l-neutral-color-n400);
	--color-icon-color-icon-white: var(--color-l-neutral-color-n50);
	--color-icon-color-icon-highlight: var(--color-l-primary-color-primary);
	--color-chat-bubble-color-send-bubble-text---sw: var(--color-static-static-white);
	--color-chat-bubble-color-send-bubble-text-highlight---sw: var(--color-static-static-white);
	--color-chat-bubble-color-send-bubble-link---sw: var(--color-static-static-white);
	--color-chat-bubble-color-send-bubble-timestamp---sw: var(--color-static-static-white);
	--color-chat-bubble-color-send-bubble-icon---sw: var(--color-static-static-white);
	--color-chat-bubble-color-received-bubble-bg---n300: var(--color-l-neutral-color-n300);
	--color-chat-bubble-color-received-bubble-text---n900: var(--color-l-neutral-color-n900);
	--color-chat-bubble-color-received-bubble-text-highlight: var(--color-l-primary-color-primary);
	--color-chat-bubble-color-received-bubble-link--alert-info: var(--color-l-alert-color-info);
	--color-chat-bubble-color-received-bubble-timestamp---n600: var(--color-l-neutral-color-n600);
	--color-button-color-primary-button-icon---sw: var(--color-l-neutral-color-n50);
	--color-button-color-secondary-button-bg---n900: var(--color-l-neutral-color-n900);
	--color-button-color-secondary-button-icon---n900: var(--color-l-neutral-color-n900);
	--color-d-primary-color-primary: #6852d6;
	--color-d-extended-primary-color-ep50: #15102b;
	--color-d-extended-primary-color-ep100: #1d173c;
	--color-d-extended-primary-color-ep200: #251e4d;
	--color-d-extended-primary-color-ep300: #2e245e;
	--color-d-extended-primary-color-ep400: #362b6f;
	--color-d-extended-primary-color-ep500: #3e3180;
	--color-d-extended-primary-color-ep600: #473892;
	--color-d-extended-primary-color-ep700: #4f3ea3;
	--color-d-extended-primary-color-ep800: #5745b4;
	--color-d-extended-primary-color-ep900: #7460d9;
	--color-d-neutral-color-n50: #141414;
	--color-d-neutral-color-n100: #1a1a1a;
	--color-d-neutral-color-n200: #272727;
	--color-d-neutral-color-n300: #383838;
	--color-d-neutral-color-n400: #4c4c4c;
	--color-d-neutral-color-n500: #858585;
	--color-d-neutral-color-n600: #989898;
	--color-d-neutral-color-n700: #a8a8a8;
	--color-d-neutral-color-n800: #c8c8c8;
	--color-d-neutral-color-n900: #fff;
	--color-d-alert-color-info: #0d66bf;
	--color-d-alert-color-warning: #d08d04;
	--color-d-alert-color-success: #0b9f5d;
	--color-d-alert-color-error: #c73c3e;
	--color-button-color-link-button: var(--color-l-alert-color-info);
	--color-button-color-fab-button---sp: var(--color-primary-color-primary);
	--color-button-color-fab-button-icon---sw: var(--color-l-neutral-color-n50);
	--color-state-color-white-hover: var(--color-neutral-color-neutral-200);
	--color-state-color-white-presssed: var(--color-neutral-color-neutral-300);
	--color-chat-bubble-color-received-bubble-icon---primary: var(--color-l-primary-color-primary);
	--color-button-color-primary-button-text---sw: var(--color-l-neutral-color-n50);
	--color-button-color-secondary-button-text---n900: var(--color-l-neutral-color-n900);
	--color-overlay-overlay: #141414;
	--color-static-static-black: var(--color-neutral-color-neutral-900);
	--color-static-static-white: var(--color-extended-primary-color-extended-primary-50);
	--color-alert-color-success---hover: #079b59;
	--color-alert-color-success---pressed: #3ace8c;
	--color-alert-color-error---hover: #c3383a;
	--color-alert-color-error---pressed: #f66b6d;
	--color-alert-color-message-seen: #56e8a7;
	--l-primary-color-primary: #d6409f;
	--l-extended-primary-color-ep50: #fdf7fb;
	--l-extended-primary-color-ep100: #fae8f3;
	--l-extended-primary-color-ep200: #f6d3e9;
	--l-extended-primary-color-ep300: #f1bede;
	--l-extended-primary-color-ep400: #eda9d4;
	--l-extended-primary-color-ep500: #e894c9;
	--l-extended-primary-color-ep600: #e47fbf;
	--l-extended-primary-color-ep700: #df6ab4;
	--l-extended-primary-color-ep800: #db55aa;
	--l-extended-primary-color-ep900: #be398e;
	--l-neutral-color-n50: #fff;
	--l-neutral-color-n100: #fafafa;
	--l-neutral-color-n200: #f5f5f5;
	--l-neutral-color-n300: #e8e8e8;
	--l-neutral-color-n400: #dcdcdc;
	--l-neutral-color-n500: #a1a1a1;
	--l-neutral-color-n600: #727272;
	--l-neutral-color-n700: #5b5b5b;
	--l-neutral-color-n800: #434343;
	--l-neutral-color-n900: #141414;
	--l-alert-color-info: #0b7bea;
	--l-alert-color-warning: #ffab00;
	--l-alert-color-success: #09c26f;
	--l-alert-color-error: #f44649;
	--d-primary-color-primary: #d6409f;
	--d-extended-primary-color-ep50: #2b0d20;
	--d-extended-primary-color-ep100: #3c122d;
	--d-extended-primary-color-ep200: #4d1739;
	--d-extended-primary-color-ep300: #5e1c46;
	--d-extended-primary-color-ep400: #6f2153;
	--d-extended-primary-color-ep500: #80265f;
	--d-extended-primary-color-ep600: #922c6c;
	--d-extended-primary-color-ep700: #a33179;
	--d-extended-primary-color-ep800: #b43686;
	--d-extended-primary-color-ep900: #d94fa7;
	--d-neutral-color-n50: #141414;
	--d-neutral-color-n100: #1a1a1a;
	--d-neutral-color-n200: #272727;
	--d-neutral-color-n300: #383838;
	--d-neutral-color-n400: #4c4c4c;
	--d-neutral-color-n500: #858585;
	--d-neutral-color-n600: #989898;
	--d-neutral-color-n700: #a8a8a8;
	--d-neutral-color-n800: #c8c8c8;
	--d-neutral-color-n900: #fff;
	--d-alert-color-info: #0d66bf;
	--d-alert-color-warning: #d08d04;
	--d-alert-color-success: #0b9f5d;
	--d-alert-color-error: #c73c3e;

}

/* Шрифты  */




body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background: var(--color-background-color-background3);

}

