
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--color-border-color-border-light);
  overflow: hidden;
}

.header_chat {
  padding: 8px 16px;
  height: 64px;
  border-bottom: 1px solid var(--color-border-color-border-light);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.chatlists {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
}
