
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--color-border-color-border-light);
}


.header_chat
 {

  padding: 8px 16px;
  height: 64px;
  border-bottom: 1px solid var(--color-border-color-border-light);
  display: flex;
  align-items: center;


}

.wrapper h3 span {

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;

}